.input-component {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: .75rem;
  transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
  padding: 10px 18px;
  
  outline: none;
  
  border-radius: .4285rem;
  border-color: #e14eca;
  background-color: transparent;
  box-shadow: none;
  color: $color;
}
