.planet__item_container {
  @extend .card;

  display: flex;
  padding: 15px;
  margin: 10px 10px;
  border-radius: 5px;

  .details {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);

    .name {
      color: $white;
    }

    .name {
      margin-bottom: 10px;
    }
  }
}
